<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of Students</title>
</head>
<body>
<h1>List of Students</h1>
<table>
  <thead>
  <tr>
    <th style="padding: 5px;">ID</th>
    <th style="padding: 5px;">First Name</th>
    <th style="padding: 5px;">Last Name</th>
  </tr>
  </thead>
  <tbody>
    <tr style="padding-left: 5px;" th:each="student : ${student}">
      <td style="padding: 5px;" th:text="${student.id}"></td>
      <td style="padding: 5px;" th:text="${student.firstName}"></td>
      <td style="padding: 5px;" th:text="${student.lastName}"></td>
    </tr>
  </tbody>
</table>
</body>
</html>